<div id="<%= dom_id review %>">
  <div class="my-default font-bold"><%= review.id %></div>

  <div class="scaffold-buttons my-default">
    <%= render "show_link", review: %>
    <%= render "edit_link", review: %>
  </div>
</div>
