<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <%= render partial: "index_peer_reviews_review", collection: @peer_reviews_reviews, as: :peer_reviews_review %>

  <%= paginate @peer_reviews_reviews %>
</div>
