<div>
  <div class="scaffold-buttons my-default">
    <%= render "edit_link", review: @review %>
    <%= render "destroy_button", review: @review %>
    <%= render "back_to_index_link", peer_review: @review.peer_review %>
  </div>

  <%= render @review %>
</div>
