<div id="<%= dom_id space %>">
  <h1 class="title my-default"><%= title space.name %></h1>

  <h2 class="font-bold text-2xl"><%= t "posts.index.title" %></h2>

  <turbo-frame id="posts" src="<%= space_posts_path space %>" target="_top"></turbo-frame>
</div>
