<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%= link_to t("detail"), @space, class: "button-primary" %>
    <%= link_to t("back_to_index"), spaces_path, class: "button-secondary" %>
  </div>

  <%= render "form", space: @space %>
</div>
