<div>
  <div class="flex justify-between items-center">
    <h1 class="title my-default"><%= title t ".title" %></h1>
    <%= link_to t("spaces.new.title"), new_space_path, class: "button-primary" %>
  </div>

  <%= render partial: "index_space", collection: @spaces, as: :space %>
</div>
