<div>
  <%= render @space do %>
    <div class="flex justify-between items-center my-default">
      <h2 class="font-bold text-2xl"><%= t "posts.index.title" %></h2>
      <%= render "posts/new_link", space: @space %>
    </div>

    <%= turbo_frame_tag(
      :posts,
      src: [@space, :posts, {page: params[:page]}],
      target: :_top
    ) %>
  <% end %>
</div>
