<div>
  <div class="scaffold-buttons my-default">
    <%= render "edit_link", space: @space %>
    <%= render "destroy_button", space: @space %>
    <%= render "back_to_index_link" %>
  </div>

  <%= render @space %>
</div>
