<div
  data-controller="markdown-viewer"
  data-action="turbo:before-cache@document->markdown-viewer#restoreContentValue"
  data-markdown-viewer-content-value="<%= post.content %>"
  class="<%= class_names wysiwyg_class, local_assigns[:class_name] %>"
></div>
