<div id="<%= dom_id peer_review %>">
  <div class="horizontal justify-between my-default">
    <div class="font-bold"><%= peer_review.title %></div>

    <div class="horizontal">
      <%= render "show_link", peer_review: %>
      <%= render "edit_link", peer_review: %>
    </div>
  </div>
</div>
