<div id="<%= dom_id peer_reviews_participation %>" class="flex justify-between">
  <div class="my-default font-bold"><%= peer_reviews_participation.user.name %></div>

  <div class="horizontal">
    <%= render "edit_link", peer_reviews_participation: %>
  </div>
</div>
