<div id="<%= dom_id participation %>" class="flex justify-between">
  <div class="my-default font-bold"><%= participation.user.name %></div>

  <div class="horizontal">
    <%= render "edit_link", participation: %>
  </div>
</div>
