<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%= render "show_link", participation: @participation %>
    <%= render "back_to_index_link", peer_review: @participation.peer_review %>
  </div>

  <%= render "form", peer_review: nil, participation: @participation %>
</div>
