<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <%= render "form", peer_review: @peer_review, participation: @participation %>

  <%= render "back_to_index_link", participation: @participation %>
</div>
