<div>
  <div class="scaffold-buttons my-default">
    <%= render "edit_link", participation: @participation %>
    <%= render "destroy_button", participation: @participation %>
    <%= render "back_to_index_link", participation: @participation %>
  </div>

  <%= render @participation %>
</div>
