<div id="<%= dom_id post %>">
  <div class="border w-40 h-60">
    <%= link_to post, class: "vertical gap-0 w-full h-full" do %>
      <div class="px-2 py-1 font-bold border">
        <%= render "post_title", post: %>
      </div>
      <div class="post-card">
        <%= render "posts/content", post: %>
      </div>
    <% end %>
  </div>
</div>
