<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%= render "edit_link", space: @space, post: @post %>
    <%= render "back_to_index_link", space: @space %>
  </div>

  <%= render "form", space: @space, post: @post %>
</div>
