<div>
  <div class="flex justify-between items-center">
    <h1 class="title my-default"><%= title t ".title" %></h1>
    <%= render "new_link", space: @space %>
  </div>

  <turbo-frame id="posts">
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <% @posts.each do |post| %>
        <div class="mx-auto">
          <%= render "index_post", space: @space, post: %>
        </div>
      <% end %>
    </div>

    <div class="my-8">
      <%= paginate @posts, params: { controller: :spaces, action: :show, hashid: @space.hashid, space_hashid: nil } %>
    </div>
  </turbo-frame>
</div>
