.pagination {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  font-size: 1.2rem;
  white-space: nowrap;
}

.pagination > span > a {
  padding: 0.2rem 0.4rem;
  margin: 0.1rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.pagination .current {
  margin: 0 0.5rem;
  font-weight: bold;
  border: none;
}

@media (max-width: 640px) {
  .pagination .page {
    display: none;
  }
  .pagination .page.current {
    display: block;
  }
}
